<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <h1>Create new Expense</h1>
    <a href="/expense-list">Back to list</a>
    <form>
      <input type="text" name="category" placeholder="category" />
      <input type="number" name="price" placeholder="price" />
      <button>Create New Expense</button>
    </form>

    <%- include('../partials/footer') %>

    <script src="/src/public/ts/createExpense.ts"></script>
  </body>
</html>
